<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxzC0vzCJu9711M-L9_cNDyROo4ZDjPcw</string>
	<key>GCM_SENDER_ID</key>
	<string>283943969544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.registeration.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>registeration-aef8d</string>
	<key>STORAGE_BUCKET</key>
	<string>registeration-aef8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283943969544:ios:0136522cc0a542999c42bd</string>
</dict>
</plist>